$black:#3C425D;
$dark-gray:#676E76;
$gray:#8189A2;
$light-gray:#F5F5F5;
$red:#FE3131;
$blue:#3769FF;
$light-blue:#557FFF;
$teal:#00847D;
$gradient:linear-gradient(90.29deg, #583EE7 26.99%, #0EA0E6 50.09%, #00B6AE 74.69%);
